In [1]:
import pandas as pd

mouse_human = pd.read_csv("dataMouse.csv")
keyboard_train = pd.read_csv("trainKeyboard.csv")
keyboard_test = pd.read_csv("testKeyboard.csv")

In [2]:
columns_df1 = set(keyboard_train.columns)
columns_df2 = set(keyboard_test.columns)

only_in_df1 = columns_df1 - columns_df2
only_in_df2 = columns_df2 - columns_df1
common_columns = columns_df1 & columns_df2

print("Kolumny tylko w df1:", only_in_df1)
print("Kolumny tylko w df2:", only_in_df2)
print("Wspólne kolumny:", common_columns)

Kolumny tylko w df1: {'user'}
Kolumny tylko w df2: set()
Wspólne kolumny: {'press-10', 'release-8', 'release-10', 'release-3', 'press-2', 'release-5', 'release-9', 'release-2', 'press-12', 'press-5', 'release-7', 'release-4', 'release-6', 'release-1', 'release-0', 'press-8', 'press-7', 'press-4', 'press-0', 'press-3', 'press-6', 'release-12', 'press-11', 'press-9', 'release-11', 'press-1'}

In [3]:
keyboard_train.drop("user", axis='columns', inplace=True)

keyboard_human = pd.concat([keyboard_train, keyboard_test], ignore_index=True)

keyboard_bot = pd.read_csv("generating_bot_data\\bot_keyboard_events.csv")
keyboard_bot["is_bot"] = 1
keyboard_human["is_bot"] = 0

keyboard_data = pd.concat([keyboard_bot, keyboard_human], ignore_index=True)

keyboard_data.to_csv("keyboard_combined.csv", index=False)

In [4]:
keyboard_data.describe()

,press-0,release-0,press-1,release-1,press-2,release-2,press-3,release-3,press-4,release-4,...,release-8,press-9,release-9,press-10,release-10,press-11,release-11,press-12,release-12,is_bot
count,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,...,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000,1150.000000
mean,0.000870,69.393043,185.018261,272.791304,363.527826,445.594783,600.822609,694.640000,762.779130,847.808696,...,1707.044348,1801.424348,1900.355652,2009.488696,2109.196522,2180.689565,2274.480870,2392.872174,2487.466957,0.043478
std,0.029488,35.800972,114.904814,126.025036,237.905384,241.438078,351.375194,355.019644,395.468027,398.182929,...,655.620660,723.862525,726.034859,792.577696,794.256152,854.388913,855.953701,907.447893,908.486873,0.204020
min,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,2.000000,3.000000,8.000000,9.000000,...,388.000000,412.000000,542.000000,508.000000,572.000000,615.000000,663.000000,663.000000,747.000000,0.000000
25%,0.000000,49.000000,134.000000,217.000000,269.000000,353.500000,446.000000,537.500000,560.000000,640.000000,...,1340.250000,1382.500000,1487.250000,1542.250000,1642.500000,1687.000000,1779.750000,1880.250000,1972.500000,0.000000
50%,0.000000,72.000000,190.500000,273.000000,351.000000,431.500000,561.000000,647.500000,707.500000,788.000000,...,1592.000000,1666.500000,1760.000000,1858.000000,1954.500000,2013.500000,2108.500000,2221.500000,2317.500000,0.000000
75%,0.000000,92.000000,228.000000,325.750000,413.750000,496.000000,688.000000,785.000000,867.750000,958.000000,...,1942.250000,2082.500000,2172.000000,2328.000000,2410.750000,2526.750000,2616.000000,2751.250000,2853.750000,0.000000
max,1.000000,241.000000,1287.000000,1343.000000,4333.000000,4453.000000,4823.000000,4890.000000,5191.000000,5263.000000,...,7471.000000,7663.000000,7753.000000,8006.000000,8063.000000,8189.000000,8259.000000,8422.000000,8487.000000,1.000000

In [5]:
keyboard_data.head(3)

,press-0,release-0,press-1,release-1,press-2,release-2,press-3,release-3,press-4,release-4,...,release-8,press-9,release-9,press-10,release-10,press-11,release-11,press-12,release-12,is_bot
0,0,98,98,194,194,305,305,385,385,433,...,719,719,767,767,861,861,909,909,973,1
1,0,97,97,162,162,225,225,305,305,384,...,701,701,748,748,843,843,938,938,1001,1
2,0,78,78,160,160,232,232,275,275,356,...,689,689,771,771,851,851,915,915,995,1

In [6]:
mouse_bot = pd.read_csv("generating_bot_data\\bot_mouse_events.csv")

mouse_bot["is_bot"] = 1
mouse_human["is_bot"] = 0

mouse_human.drop("uid", axis='columns', inplace=True)

mouse_bot.rename(columns={"x": "screen_x"}, inplace=True)
mouse_bot.rename(columns={"y": "screen_y"}, inplace=True)

# Połączenie danych
mouse_data = pd.concat([mouse_bot, mouse_human], ignore_index=True)

mouse_data.to_csv("mouse_combined.csv", index=False)

In [7]:
mouse_data.describe()

          screen_x     screen_y     timestamp       is_bot
count  4588.000000  4588.000000  4.588000e+03  4588.000000
mean    692.351275   444.070356  1.480425e+12     0.105929
std     430.590113   208.186342  5.096289e+11     0.307780
min       0.000000    52.000000  3.830000e+02     0.000000
25%     366.000000   284.000000  1.655442e+12     0.000000
50%     629.500000   439.000000  1.655699e+12     0.000000
75%     953.000000   580.250000  1.656086e+12     0.000000
max    2239.000000  1172.000000  1.656368e+12     1.000000

In [8]:
mouse_data.head(3)

,session_id,event_type,screen_x,screen_y,timestamp,is_bot
0,0c1d6516-6fff-4240-b4c9-2645297949b5,mouse_move,122.0,184.0,404,1
1,0c1d6516-6fff-4240-b4c9-2645297949b5,mouse_move,172.0,219.0,451,1
2,0c1d6516-6fff-4240-b4c9-2645297949b5,mouse_move,223.0,253.0,547,1